/* Roboto font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

h2 {
    color: #000000;
    font-weight: 300;
    font-size: 28px;
}
h3 {
    color: #5F9EA0;
    font-weight: 400;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8%;
    position: relative;
    object-fit: cover;
}

body, 
td, 
tr, 
p {
    background-color: #F8F8FF;
    color: #2F4F4F;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

/* deal with orientation issues */
html {
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

div{
    margin-left:auto;
    margin-right:auto;
    max-width:800px; 
    width:100%
}

table {
    width:100%;
    max-width:800px;
    border:0px;
    border-spacing:10px;
    border-collapse:separate;
    margin-right:auto;
    margin-left:auto;
}

#container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

